.nav-bar{
    width: 60px;
    display: block;
    /* border: 3px solid limegreen; */
    padding: 10px;
    transition: all 0.5s;
}


.nav-bar div{
    background: black;
    margin: 10px 0;
    border-start-end-radius:  25px;
    height: 5px;

}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown-content a{
    padding: 10px;
    text-decoration: none;
    display: block;
}

.use{
    position: relative;

}

.appear {display: block;}