.container div{
    height: 2px;
    width: 50px;
    border-radius: 3px;
    background-color: brown;
    margin: 10px 0;
    text-decoration: none;
}

.dropdown{
    display: none;
    position: absolute;
}

.dropdown a{
    padding: 10px 6px;
    display: block;
    text-decoration: none;
}
.dropdown a:hover{
    color: lime;
    background-color: gray;
}

.main-container{
    position: relative;
    padding: 10px;
}

.show{
    display: block;
}

.btn{
    border: none;
    background-color:white;
    cursor: pointer;
}